<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5调用电脑摄像头实例</title>
    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", function() {
            var canvas = document.getElementById("canvas"),
                context = canvas.getContext("2d"),
                video = document.getElementById("video"),
                videoObj = { "video": true },
                errBack = function(error) {
                    console.log("Video capture error: ", error.code);
                };

            // Put video listeners into place
            if(navigator.getUserMedia) { // Standard
                navigator.getUserMedia(videoObj, function(stream) {
                    video.src = stream;
                    video.play();
                }, errBack);
            } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
                navigator.webkitGetUserMedia(videoObj, function(stream){
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                }, errBack);
            }
            else if(navigator.mozGetUserMedia) { // Firefox-prefixed
                navigator.mozGetUserMedia(videoObj, function(stream){
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                }, errBack);
            }
            // 触发拍照动作
            document.getElementById("snap").addEventListener("click", function() {
                context.drawImage(video, 0, 0, 640, 480);
                var imgData=canvas.toDataURL();
                console.log(imgData);
                alert(imgData);
                var imgData=imgData.substring(22);
                // alert("eveData2"+imgData);
                $.ajax({
                  type: "POST",
                  url: "faceLogin",
                  data: {"img":imgData},
                  success: function(data){
                    if(data=="success"){
                      window.location.href="/carpe";
                    }else{
                      alert("Cannot recognize!");
                    }
                  }
                });
            });
        }, false);
    </script>
</head>
<body>
    <video id="video" width="640" height="480" autoplay=""></video><br>
    <button id="snap" >点击拍照</button>  <br>
    <canvas id="canvas" width="640" height="480"></canvas>
</body>
</html>
